<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Delete</title>-->
<!--</head>-->
<!--<body>-->
<!--<form th:method="GET" th:action="@{/database.properties}" th:object="${param} >-->
<!--    <p>Delete all people</p>-->
<!--    <label>Enter password:</label>-->
<!--    <input type="text" th:field="*{password}" id="name"/>-->
<!--    <div th:switch="">-->
<!--        <p th:case="1234">Cool</p>-->
<!--        <p th:case="*">Error</p>-->
<!--    </div>-->
<!--    <br/>-->
<!--    <button type="submit" href="/people">Accept</button>-->
<!--</form>-->
<!--</body>-->
<!--</html>-->