<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Книга</title>
</head>
<body>
<p th:text="${books.getTitle() + ', ' + books.getAuthor() + ', ' + books.getYear()}"></p>

<hr/>
<div th:if="${check}">
    <span>Книга сейчас у: </span><span th:text="${book_busy.getFullname()}">Person Name</span>
    <br/>
    <button>Человек вернул книгу</button>
</div>

<div th:if="${not check}">
    <b>Книга свободна, кому её назначить</b>
</div>
<hr/>
<a th:href="@{/library/book/{id}/edit(id=${books.geId()})}">
    <button>Изменить</button>
</a>
<br/>
<form th:method="DELETE" th:action="@{/library/book/{id}(id=${books.geId()})}">
    <input type="submit" value="Delete"/>
</form>
</body>
</html>